

div{
    width: 200px;
    height: 200px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

main{
    display: flex;
    justify-content: space-around;
}